.main-button {
  background-color: #0f766e;
  /* border: 1px solid #0f766e; */
  color: white;

  font-size: 16px;
  font-weight: 600;
  line-height: 1;

  padding: 16px;
  min-width: 220px; /* SAME SIZE FOR ALL BUTTONS */

  border-radius: 10px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  cursor: pointer;

  transition: background-color 0.2s ease, transform 0.1s ease;
}

.main-button:hover {
  background-color: #115e59;
  transform: translateY(-2px);
}

.main-button:focus,
.main-button:active {
  outline: none;
  box-shadow: none;
}
